/* Global */
* {
  box-sizing: border-box;
  zoom: 100%;
}

img {
  max-width: 100%;
}

/**** Inicio Mobile header****/

.grid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0px;
  z-index: 100;

  background-color: #3c3c3c;
  margin: -20px -8px 0 -8px;
  width: auto;
}

h1 {
  color: #ffffff;
  margin-left: 5px;
  font-family: "Raleway", sans-serif;
}

.logo img {
  display: block;
  width: 200px;
  height: 140px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navegador {
  display: flex;
  flex-direction: inherit;
  justify-items: inherit;
  align-items: inherit;
  top: 0px;
  width: 100%;
  z-index: 10;

  background-color: #3c3c3c;
  font-size: 14px;
  color: #ffffff;
}

.navegador__lista {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;

  list-style-type: none;
  width: 100%;
  margin-top: -25px;
  padding: 25px;
}

.navegador__lista li:hover {
  background-color: gray;
}

/****Fin Header Mobile****/

/****Inicio Header Desktop****/
@media screen and (min-width: 1024px) {
  img {
    max-width: 100%;
  }
  .grid {
    display: grid;
    min-height: 100vh;

    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";

    grid-template-rows: 100px auto 160px;
  }

  header {
    grid-area: header;

    display: block;
    flex-direction: row;
  }

  .logo img {
    position: relative;
    top: -10px;
    width: 80px;
    height: 60px;
  }

  /* .navegador {
    flex-wrap: nowrap;
    text-align: center;
  } */

  .navegador__lista {
    flex-direction: row;
    justify-content: space-around;
  }
}

/****Fin Header Desktop****/

/****Inicio Mobile****/

body {
  background-color: #a5bab6;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  overflow-x: hidden;
}

main {
  grid-area: main;
}

.positionSticky {
  position: sticky;
  top: 390px;
  height: 40px;

  background-color: #a5bab6;
}

/****Fin Mobile****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .positionSticky {
    top: 160px;
  }
}

/****Fin Desktop****/

/****Inicio Mobile****/

.obras__video {
  display: flex;
  justify-content: center;

  margin-top: 60px;
  margin-bottom: 20px;
}

.border {
  border-bottom: 3px solid rgba(60, 60, 60, 0.5);
  grid-area: border;
}

/****Fin Mobile****/

/****Inicio Desktop****/
@media screen and (min-width: 1024px) {
  .border {
    grid-area: border;
  }
}

/****Fin Desktop****/

/****Inicio Mobile****/

.vision {
  position: relative;
  bottom: 10px;
  height: 150px;

  margin: 0px 10px 160px 0px;
  width: 60%;
}

.clientes {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.clientes--positionSticky {
  position: sticky;
  top: 150px;

  height: 40px;
  background-color: #a5bab6;
}

.clientes__imagenes {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;

  background-color: #ffffff;
}

.obras {
  position: relative;
  bottom: 300px;
}

.obras__imagenes {
  position: relative;
}

.obras__imagenes__imagen1 {
  display: block;

  position: absolute;
  top: 770px;
  z-index: 20;
  right: 5%;

  height: 300px;
  width: 200px;
}

.obras__imagenes__imagen3 {
  display: block;

  position: absolute;
  top: 10px;

  height: 700px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.obras__imagenes__contenedor {
  position: relative;

  height: 350px;
  width: 100%;
  margin-top: 350px;
  margin-bottom: 100px;
}

.clientes__imagenes__imagen4 {
  display: block;

  height: 180px;
}

.clientes__imagenes__imagen8 {
  display: block;
}

form {
  height: 500px;
}

input:focus {
  width: 177px;
  height: 21px;
  font-size: 14px;
}

/****Fin Mobile****/

/****Inicio Desktop****/
@media screen and (min-width: 1024px) {
  form {
    height: 500px;
  }

  .clientes--positionSticky {
    top: 150px;
  }

  .obras__imagenes__imagen1 {
    right: 5%;
  }

  .obras__imagenes__contenedor {
    position: relative;
  }
}

/****Fin Desktop****/

/****Inicio Mobile****/

/* Sobre nosotros */

.sobre-nosotros--grid2 {
  display: grid;
  grid-template-areas:
    "sobreNosotros"
    "imagen1"
    "sobre-nosotros-contenedor2"
    "border"
    "contenedor3";
  gap: 20px;
}

/****Fin Mobile****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .sobre-nosotros--grid2 {
    grid-template-areas:
      "sobreNosotros imagen1"
      "border border"
      "sobre-nosotros-contenedor2 contenedor3";
    grid-template-columns: 50% 50%;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/

.sobre-nosotros-contenedor2 {
  grid-area: sobre-nosotros-contenedor2;

  position: relative;

  margin-top: 50px;
}

/****Fin Mobil****/

/****Inicio Desktop****/
@media screen and (min-width: 1024px) {
  .sobre-nosotros-contenedor2 {
    grid-area: sobre-nosotros-contenedor2;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/
.contenedor3 {
  grid-area: contenedor3;
  margin-left: 10px;
}

.imagen1 {
  grid-area: imagen1;
  margin: 75px 25px 0 0;
}

/* Servicios */

.servicios-contenedor1 {
  width: 60%;
  height: 300px;
}

/****Fin Mobil****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .servicios-grid {
    display: grid;
    grid-template-areas: "contenedor1 imagen1";
    grid-template-columns: 5fr 7fr;

    position: relative;
    top: 140px;
  }

  .servicios-contenedor1 {
    grid-area: contenedor1;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/

.servicios-contenedor2 {
  position: relative;
}

/****Fin Mobil****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .servicios-contenedor2 {
    grid-area: imagen1;
  }
}

/****Fin Desktop****/

/****Inicio Mobil****/

.servicios-contenedor2__imagen1 {
  height: 450px;
  width: 100%;
  z-index: 20;
}
/****Fin Mobil****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .servicios-contenedor2__imagen1 {
    z-index: 20;
    width: 100%;
    height: 400px;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/
.servicios-contenedor3 {
  height: 600px;
  margin-top: 10px;
}

.servicios-contenedor3--display-flex {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  /* Servicios */

  .servicios-contenedor3 {
    position: relative;
    top: 150px;

    height: 500px;
  }

  .servicios-contenedor3--display-flex {
    display: flex;
    justify-content: space-around;
  }
}
/* Trabajos realizados */

.trabajos-realizados-contenedor1 {
  width: 100%;
  height: 600px;
}

.contenedor2-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 30px;
}

.tarjeta {
  height: 350px;
  width: 300px;
  background-color: #a5bab6;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s ease;
}

.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.atras {
  transform: rotateY(180deg);
  background-color: rgba(165, 186, 182, 0.8);

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta-flex:hover .tarjeta {
  transform: rotateY(180deg);
}

.adelante1 {
  height: 100%;
  width: 100%;
  background-image: url(../Imagenes/torre-ezeiza.jfif);
  background-size: cover;
}

.adelante2 {
  height: 100%;
  width: 100%;
  background-image: url(../Imagenes/edificio.bmp);
  background-size: cover;
}

.adelante3 {
  height: 100%;
  width: 100%;
  background-image: url(../Imagenes/plano\ ¿-puerto-ba.jfif);
  background-size: cover;
}

.adelante4 {
  height: 100%;
  width: 100%;
  background-image: url(../Imagenes/metrobus.jpg);
  background-size: cover;
}
/* .trabajos-realizados-contenedor2 {
  position: relative;
  top: 300px;
} */
/****Fin Mobil****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .trabajos-realizado-grid {
    display: grid;
    grid-template-areas:
      "contenedor1"
      "flex1";
    position: relative;
    top: 100px;
  }

  .trabajos-realizados-contenedor1 {
    grid-area: contenedor1;
    position: relative;
    top: -40px;
  }

  .contenedor2-flex {
    grid-area: flex1;
    position: relative;
    top: -100px;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
  }
}

/****Fin Desktop****/

/****Inicio Mobil****/

/* Nuestros clientes */

.clientes__imagenes--wrap {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.nuestros-clientes-contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Trabaja con nosotros */

.trabaja-con-nosotros-contenedor1 {
  height: 500px;
  padding-top: 50px;
}

/* Contaco */

.contacto-contenedor1 {
  height: 550px;
}

/**** Fin Mobile****/

/**** Inicio Footer Mobile****/

footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;

  margin: 0px -8px -10px -8px;
  width: 100%;
  padding-left: 10px;

  background-color: #636363;
  color: #ffffff;
  width: 110%;
  font-size: 15px;
}

span {
  position: fixed;
  bottom: 7px;
  right: 5px;
  z-index: 20;

  color: black;
  background-color: #636363;
}

.linksUtiles {
  list-style-image: url(../Imagenes/link-svgrepo-com.svg);
}

.contacto__mail {
  list-style-image: url(../Imagenes/mail-svgrepo-com.svg);
}

.contacto__linkedin {
  list-style-image: url(../Imagenes/linkedin.svg);
}

/**** Fin Footer Mobile****/

/*** Inicio Footer Desktop***/

@media screen and (min-width: 1024px) {
  footer {
    grid-area: footer;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0px -20px -10px -10px;
    padding: 20px;
    width: 105%;
    /* overflow: hidden; */
  }

  span {
    position: fixed;
    bottom: 7px;
    right: 5px;
    z-index: 20;

    color: black;
    background-color: #636363;
  }

  .linksUtiles {
    list-style-image: url(../Imagenes/link-svgrepo-com.svg);
  }

  .contacto__mail {
    list-style-image: url(../Imagenes/mail-svgrepo-com.svg);
  }

  .contacto__linkedin {
    list-style-image: url(../Imagenes/linkedin.svg);
  }
}
